var.pm_api_token_id = "terraform@pam!terraform-token"
var.pm_api_token_secret = "879cd7e2-2f33-4baa-8846-15f8a27dc000"
var.pm_api_url = "https://192.168.109.68:8006/api2/json"
var.ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAqY35/QSTDbA4AUwBZGOwEnA7aF717PtLEdBWtl9QcIQIFkgfl2QhjSXbYNCQFHcDBdPpL4kCxCrGZtxuddApjmbbvyn7sIaRXbD24p+pkuZrpQm02r+xG4NNB9DBgfzFuVhTW4zN7E1jgv4VVbAcj/5gqHQO1Ivv/oxcBeg+ESsE0bwAA9TQLw5xtWGzAq2mnWejU/q9ubL3lIH7SYOr4QsNKyqdkgsGOCkKt/UXPtcDP/hyrbXa0fYyQ1X9/mhRAb0+3uD/i9UsXWgl5zfVUMwG2wud6qz+3VGhmjcWBs+6coNLj3THw1bSN+MiLx8gw0VK/KatbFNyNWXF98kjrQ== dmitryg@wwl-dmitryg"

