var.pm_api_token_id = "terraform@pam!terraform-token"
var.pm_api_token_secret = "ZZZzzz-zzz-zzz-zzzz-ZZZ"
var.pm_api_url = "https://proxmox-server:8006/api2/json"
var.ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAXXXXWtl9QcIQIFkgfl2QhjSXbYNCQFHcDBdPpL4kCxCrZZZZZsIaRXbD24p+pkuZrpQm02r+xG4NNB9DBgfzFuVhTW4zN7E1jgv4VVbAcj/5gqHQO1Ivv/oxcBeg+ESsE0bwAA9TQLw5xtWGzAq2mnWejU/q9ubL3lIH7SYOr4QsNKyqdkgsGOCkKt/UXPtcDP/hyrbXa0fYyQ1X9/mhRAb0+3uD/i9UsXWgl5zfVUMwG2wud6qz+3VGhmjcWBs+6coNLj3THw1bSN+MiLx8gw0VK/KatbFNyNWXF98kjrQ== user@computer"

